<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.8.0/build/styles/atom-one-dark-reasonable.min.css"
      rel="stylesheet"
    />
    <link href="styles.css" rel="stylesheet" />
  </head>
  <body data-bs-theme="dark">
    <div class="container py-3">
      <div class="justify-content-center align-items-center">
        <div>
          <!-- Settings Modal -->
          <div
            class="modal fade"
            id="settingsModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="settingsModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-large" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
                </div>
                <form id="settingsForm" class="modal-body">
                  <div class="accordion">
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingBackend">
                        <button
                          class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseBackend"
                          aria-expanded="true"
                          aria-controls="collapseBackend"
                        >
                          Backend
                        </button>
                      </div>
                      <div
                        id="collapseBackend"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingBackend"
                        data-bs-parent=".accordion"
                      >
                        <div class="accordion-body">
                          <div class="form-group">
                            <label for="bot_backend.name" class="py-2">Bot backend:</label>
                            <input
                              type="text"
                              id="bot_backend.name"
                              class="form-control py-2"
                              disabled
                            />
                          </div>
                          <div class="form-group">
                            <label for="embedding_backend.name" class="py-2"
                              >Embedding backend:</label
                            >
                            <input
                              type="text"
                              id="embedding_backend.name"
                              class="form-control py-2"
                              disabled
                            />
                          </div>
                          <div class="form-group">
                            <label for="memory_backend.name" class="py-2">Memory backend:</label>
                            <input
                              type="text"
                              id="memory_backend.name"
                              class="form-control py-2"
                              disabled
                            />
                          </div>
                          <div class="form-group">
                            <label for="bot_backend.rate_limit_ms" class="py-2"
                              >rate_limit_ms:</label
                            >
                            <input
                              type="number"
                              id="bot_backend.rate_limit_ms"
                              class="form-control py-2"
                            />
                          </div>
                          <div class="form-group d-flex align-items-center">
                            <label for="bot_backend.temperature" class="py-2">temperature:</label>
                            <input
                              type="range"
                              class="form-control-range flex-grow-1 m-2"
                              id="bot_backend.temperature"
                              min="0.01"
                              max="1.99"
                              step="0.01"
                              data-display="bot_backend.temperature_display"
                            />
                            <input
                              type="text"
                              readonly
                              class="form-control py-2"
                              style="width: 60px"
                              id="bot_backend.temperature_display"
                            />
                          </div>
                          <div class="form-group d-flex align-items-center">
                            <label for="bot_backend.top_p" class="py-2">top_p:</label>
                            <input
                              type="range"
                              class="form-control-range flex-grow-1 m-2"
                              id="bot_backend.top_p"
                              min="0.0"
                              max="1.0"
                              step="0.01"
                              data-display="bot_backend.top_p_display"
                            />
                            <input
                              type="text"
                              readonly
                              class="form-control py-2"
                              style="width: 60px"
                              id="bot_backend.top_p_display"
                            />
                          </div>
                          <div class="form-group d-flex align-items-center">
                            <label for="bot_backend.top_k" class="py-2">top_k:</label>
                            <input
                              type="range"
                              class="form-control-range flex-grow-1 m-2"
                              id="bot_backend.top_k"
                              min="0"
                              max="200"
                              step="1"
                              data-display="bot_backend.top_k_display"
                            />
                            <input
                              type="text"
                              readonly
                              class="form-control py-2"
                              style="width: 60px"
                              id="bot_backend.top_k_display"
                            />
                          </div>
                          <div class="form-group d-flex align-items-center">
                            <label for="bot_backend.typical_p" class="py-2">typical_p:</label>
                            <input
                              type="range"
                              class="form-control-range flex-grow-1 m-2"
                              id="bot_backend.typical_p"
                              min="0.0"
                              max="1.0"
                              step="0.01"
                              data-display="bot_backend.typical_p_display"
                            />
                            <input
                              type="text"
                              readonly
                              class="form-control py-2"
                              style="width: 60px"
                              id="bot_backend.typical_p_display"
                            />
                          </div>
                          <div class="form-group d-flex align-items-center">
                            <label for="bot_backend.repetition_penalty" class="py-2"
                              >repetition_penalty:</label
                            >
                            <input
                              type="range"
                              class="form-control-range flex-grow-1 m-2"
                              id="bot_backend.repetition_penalty"
                              min="0.0"
                              max="1.5"
                              step="0.01"
                              data-display="bot_backend.repetition_penalty_display"
                            />
                            <input
                              type="text"
                              readonly
                              class="form-control py-2"
                              style="width: 60px"
                              id="bot_backend.repetition_penalty_display"
                            />
                          </div>
                          <div class="form-group">
                            <label for="bot_backend.max_new_tokens" class="py-2"
                              >max_new_tokens:</label
                            >
                            <input
                              type="number"
                              id="bot_backend.max_new_tokens"
                              class="form-control py-2"
                            />
                          </div>
                          <div class="form-group">
                            <label for="bot_backend.token_limit" class="py-2">token_limit:</label>
                            <input
                              type="number"
                              id="bot_backend.token_limit"
                              class="form-control py-2"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingTurnTemplate">
                        <button
                          class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseTurnTemplate"
                          aria-expanded="true"
                          aria-controls="collapseTurnTemplate"
                        >
                          Turn Template
                        </button>
                      </div>
                      <div
                        id="collapseTurnTemplate"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingTurnTemplate"
                        data-bs-parent=".accordion"
                      >
                        <div class="accordion-body">
                          <div class="form-group">
                            <label for="user" class="py-2">User:</label>
                            <input type="text" id="user" class="form-control py-2" />
                          </div>
                          <div class="form-group">
                            <label for="bot" class="py-2">Bot:</label>
                            <input type="text" id="bot" class="form-control py-2" />
                          </div>
                          <div class="form-group">
                            <label for="bot_message" class="py-2">Bot Message:</label>
                            <input type="text" id="bot_message" class="form-control py-2" />
                          </div>
                          <div class="form-group">
                            <label for="turn_template" class="py-2">Turn Template:</label>
                            <input type="text" id="turn_template" class="form-control py-2" />
                          </div>
                          <div class="form-group">
                            <label for="prefix" class="py-2">Prefix:</label>
                            <input type="text" id="prefix" class="form-control py-2" />
                          </div>
                          <div class="form-group">
                            <label for="command" class="py-2">Command:</label>
                            <input type="text" id="command" class="form-control py-2" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-header" id="headingCharacter">
                        <button
                          class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseCharacter"
                          aria-expanded="true"
                          aria-controls="collapseCharacter"
                        >
                          Character
                        </button>
                      </div>
                      <div
                        id="collapseCharacter"
                        class="accordion-collapse collapse show"
                        aria-labelledby="headingCharacter"
                        data-bs-parent=".accordion"
                      >
                        <div class="accordion-body">
                          <div class="form-group">
                            <label for="name" class="py-2">Name:</label>
                            <input type="text" id="name" class="form-control py-2" />
                          </div>
                          <div class="form-group">
                            <label for="language" class="py-2">Language:</label>
                            <input type="text" id="language" class="form-control py-2" />
                          </div>
                          <div class="form-group">
                            <label for="context" class="py-2">Context:</label>
                            <textarea id="context" class="form-control py-2" rows="15"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="history" class="py-2">History:</label>
                            <textarea id="history" class="form-control py-2" rows="7"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                      Close
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Add Bot Modal -->
          <div
            class="modal fade"
            id="addBotModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addBotModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addBotModalLabel">Add Bot</h5>
                </div>
                <form id="addBotForm" class="modal-body">
                  <div class="dropdown mb-3">
                    <button
                      class="btn btn-secondary dropdown-toggle"
                      type="button"
                      id="backendDropdownButton"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Backend
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="backendDropdownButton"
                      id="backendDropdown"
                    ></ul>
                  </div>
                  <div class="dropdown mb-3">
                    <button
                      class="btn btn-secondary dropdown-toggle"
                      type="button"
                      id="turnTemplateDropdownButton"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Turn Template
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="turnTemplateDropdownButton"
                      id="turnTemplateDropdown"
                    ></ul>
                  </div>
                  <div class="dropdown mb-3">
                    <button
                      class="btn btn-secondary dropdown-toggle"
                      type="button"
                      id="characterDropdownButton"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Character
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="characterDropdownButton"
                      id="characterDropdown"
                    ></ul>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                      Add
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column">
            <!-- App Title -->
            <h1 class="text-center flex-grow-1 my-3">🤖 open-chatbot-js 🤖</h1>
            <!-- Nav bar -->
            <nav
              class="navbar navbar-expand-lg flex-grow-1 rounded border navbar-dark bg-dark my-2"
            >
              <!-- Bot list -->
              <div class="container-fluid d-flex flex-row">
                <div id="botList" class="navbar-nav d-flex flex-row flex-grow-1 align-items-center justify-content-end">
                  <div class="nav-item">
                    <button id="addBotButton" type="button" class="btn">
                      <i class="fa-solid fa-plus"></i> bot
                    </button>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <!-- Message History -->
          <div
            id="messages"
            class="d-flex flex-column border rounded overflow-auto p-2 my-2"
            style="height: 57vh"
          ></div>
          <!-- Chat Form -->
          <form id="messageForm" class="input-group">
            <div class="d-flex flex-column flex-grow-1">
              <!-- Message Input -->
              <div class="d-flex flex-row">
                <div class="col-xs-3 pe-2">
                  <input
                    id="usernameInput"
                    type="text"
                    class="input-group-addon form-control"
                    style="max-width: 200px"
                    value="<%= username %>"
                  />
                  <!-- Reset button -->
                  <div class="input-group-append">
                    <button id="resetButton" type="button" class="btn btn-danger text-nowrap mt-2">
                      Reset Conversation
                    </button>
                  </div>
                </div>
                <div id="userInput" class="textarea form-control flex-grow-1" contenteditable></div>
              </div>
              <div class="d-flex flex-row flex-grow-1 align-items-end justify-content-end my-2">
                <!-- Send button -->
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary">Send</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked-highlight/lib/index.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
